html{
   background-image: url(/home/bootcamp/project/greetings/Elephant_Luv (1).jpg);
    background-size: cover;
    margin: 10px;


}

hr{
    clear: both;
    visibility: hidden;
}
#Greeting{
  font-style: oblique;
    font-size: 140px;
    border-style: inset;
    border-radius: 10px;
    border-color:  black;
    padding: 1%;
    max-height: inherit;
}

#inpName{
  font-style: oblique;
    width: 80%;
  height: 240px;
  border: 1px solid black;
  padding-top: 5%;
    padding-left: 20%;
  margin: auto;
    font-size: 30px;
}

#show{
  padding: 3%;
margin-right: 150px;
border-radius: 60px;
text-align: center;
font-weight: bold;
font-style: oblique;
font-size: 20px;
background-color: #FF69B4;
  height: 10px;
}


#count{
    font-size: 20px;
}
#greetbutton{
  width: 20%;
  height: 30px;
  background-color: #FF1493;
  border-radius: 60px;
  font-weight: bold;
  font-style: oblique;
}
#resetButton{
  width: 20%;
  height: 30px;
  background-color: #FF1493;
  border-radius: 60px;
  font-weight: bold;
  font-style: oblique;
}
